@import "../../style.scss";

.leftBar {
    @include themify($themes) {
        flex: 2;
        position: sticky;
        top: 70px;
        height: calc(100vh - 70px);
        overflow: scroll;
        background-color: themed("bg");
        color: themed("textColor");

        @include mobile {
            display: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .container {
            padding: 20px;

            hr {
                margin: 10px 0px;
                border: none;
                height: 0.5px;
                background-color: themed("border");
            }

            .menu {
                display: flex;
                flex-direction: column;
                gap: 9px;
                font-weight: bold;

                span {
                    font-size: 20px;
                    letter-spacing: 1px;
                }
                
                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-size: 14px;

                    }
                }
                
                .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    //    flex-direction: column;
                   
                    img {
                        width: 30px;
                    }

                    span {
                        font-size: 14px;
                        cursor: pointer;
                    }
                    a{
                        color: themed("textcolor");
                    }


                }
                // .item a #spa{
                //     color:black;
                // }
                // #item1{
                //     a{
                //         color:black;
                //         color: themed("textcolor");
                //     }
                // }
                #market {
                    //  border:1px solid red;
                    width: 200px;
                    height: 120px;
                    border-top-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    //  background-color: rgb(48, 75, 66);
                    background-color: beige;
                    cursor: pointer;

                    ul {
                        text-align: center;
                        list-style: none;
                        padding: 10px 25px;
                        color: black;

                        li {
                            border-bottom: 2px solid white;
                            margin-bottom: 10px;
                        }

                        li a {
                            text-decoration: none;
                            color: black;
                            // background-color: ghostwhite;
                            cursor: pointer;
                        }

                        li a:hover {
                            color: blue;
                        }
                    }
                    p{
                        font-size: 10px;
                        color: black;
                        text-align: justify;
                        padding: 7px 7px 7px 7px;
                    }

                }

                .hide {
                    display: none;
                }

                .show {
                    display: block;
                }

            }
        }
    }
}